// Define variables for your color scheme

// For example:
$red: #FF9999;
$blue: #315f91;
$yellow: #FEFDCA;
$orange: #FFD3B6;
$green: #A9EEE6;
$gray: #D6E6F2;
$light-gray: #e8eef4;
$white: #FDFDFD;
$black: #110c11;
